# A systemd unit file to run the 'outbreak' web app via gunicorn
[Unit]
Description=A patient management system for infectious disease outbreaks
Requires=outbreak-prepare.service
After=outbreak-prepare.service

[Service]
type=simple
WorkingDirectory=/support/ohc/outbreak
ExecStart=/support/ohc/.env/bin/gunicorn outbreak.wsgi -c etc/gunicorn_conf.py

