# A systemd unit file to run the 'outbreak' web app via gunicorn
[Unit]
Description=A patient management system for infectious disease outbreaks
Requires=outbreak-prepare.service
After=outbreak-prepare.service

[Service]
type=simple
WorkingDirectory=/service/ohc/outbreak
ExecStart=/service/ohc/.env/bin/gunicorn outbreak.wsgi -c etc/gunicorn.conf.py directory=/service/ohc/outbreak

